.swal-botao {
  flex: 1 !important;
  min-width: 160px;
}

.swal2-actions {
  display: flex !important;
  justify-content: center;
  gap: 10px;
}

.titulo-acao-modal {
  color: #000;
  font-weight: 400;
}
